<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit</h1>
    <form method="POST" action="/pokemon/<%=index%>?_method=PUT">
      Name : <input type="text" name="name" value="">
      Image : <input type="text" name="image" value="">
      <input type="submit" name="submit" value="submit changes">
    </form>
  </body>
</html>
