<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Pokemon For Hire</h1>
    <form action="/pokemon/index" method="POST">
    Name: <input type="text" name="name"><br/>
    Picture: <input type="text" name="img"><br/>
    <button type="submit">Submit</button>
    </form>

  </body>
</html>
